@font-face {
  font-family: 'Alegreya Sans';
  src: url('@/assets/fonts/AlegreyaSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('@/assets/fonts/AlegreyaSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}