:root {
  --font-family-base: 'Alegreya Sans', sans-serif;
  --font-family-fallback: Arial, sans-serif;

  --color-black: #0D2839;
  --color-grey: #F2F5F8;
  --color-light-grey: #B9C2C9;
  --color-dark-grey: #86939C;
  --color-blue: #458AFB;
  --color-light-blue: #5696FF;
  --color-white: #FFFFFF;
  --color-shadow-black: #00000040;
  --color-green: #9ECB45;
  --color-red: #FE6845;

  --font-size-base: 18px;
  --font-size-title: 36px;
  --font-size-subtitle: 24px;
  --font-size-small: 14px;

  --font-weight-normal: 400;
  --font-weight-thin: 300;
  --font-weight-bold: 700;

  --indent-small: 10px;
  --indent-medium: 15px;
  --indent-large: 20px;
  --indent-extra-large: 30px;
  --indent-block: 90px;

  --container-padding: 90px;

  --line-height-base: 21.6px;
}